{
  "mcpServers": {
    "playwright": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "@playwright/mcp@latest"
      ],
      "env": {}
    },
    "Ref": {
      "type": "http",
      "url": "<Ref-api-key>"
    },
    "archon": {
      "type": "http",
      "url": "http://localhost:8051/mcp"
    },
    "semgrep": {
      "type": "stdio",
      "command": "semgrep",
      "args": [
        "--isolated",
        "--with",
        "fastmcp==2.9.*",
        "semgrep-mcp"
      ],
      "env": {}
    }
  }
}